## Import Packages (question 2 a)

In [1]:
import pandas as pd
import numpy as np
import requests
import os
import psycopg2
import zipfile
import io
from sqlalchemy import create_engine

In [2]:
postgres_password = os.environ['POSTGRES_PASSWORD']

## Load Data (question 2 b)

In [3]:
url = 'https://databank.worldbank.org/data/download/ESG_csv.zip'
r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [4]:
url = 'https://v-dem.net/media/datasets/Country_Year_V-Dem_Core_CSV_v12.zip'
r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [5]:
v_dem = pd.read_csv('Country_Year_V-Dem_Core_CSV_v12/V-Dem-CY-Core-v12.csv')
v_dem.head()

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,v2xme_altinf_sd,v2xps_party,v2xps_party_codelow,v2xps_party_codehigh,v2x_divparctrl,v2x_feduni,v2xca_academ,v2xca_academ_codelow,v2xca_academ_codehigh,v2xca_academ_sd
0,Mexico,MEX,3,1789,1789-12-31,1,1,Viceroyalty of New Spain,1789,2021,...,0.671,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,Mexico,MEX,3,1790,1790-12-31,1,1,Viceroyalty of New Spain,1789,2021,...,0.671,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,Mexico,MEX,3,1791,1791-12-31,1,1,Viceroyalty of New Spain,1789,2021,...,0.671,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,Mexico,MEX,3,1792,1792-12-31,1,1,Viceroyalty of New Spain,1789,2021,...,0.671,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,Mexico,MEX,3,1793,1793-12-31,1,1,Viceroyalty of New Spain,1789,2021,...,0.671,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [6]:
country = pd.read_csv('ESGCountry.csv')
country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,The reporting period for national accounts dat...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
1,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,The World Bank systematically assesses the app...,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN
2,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2017/18",Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,NaN
3,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income,AD,...,NaN,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2018.0,NaN
4,ARB,Arab World,Arab World,Arab World,1A,NaN,Arab World aggregate. Arab World is composed o...,NaN,NaN,1A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
time_series = pd.read_csv('ESGData.csv')
time_series.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2050,Unnamed: 67
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.232384,86.478597,86.722685,86.937933,87.040774,87.235539,87.307068,NaN,NaN,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,88.015356,88.681886,89.195062,90.324659,88.910749,89.999946,90.277735,NaN,NaN,NaN
2,Arab World,ARB,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.297891,6.237703,5.203895,6.480083,8.479070,7.437145,4.376374,NaN,NaN,NaN
3,Arab World,ARB,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.084948,0.099784,0.095056,0.095498,0.051058,0.062195,0.079081,NaN,NaN,NaN
4,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,30.981194,30.982443,31.006834,31.017781,31.042245,...,36.529508,36.565532,36.627752,36.673546,36.659112,36.597936,36.659647,NaN,NaN,NaN

## Question 2 C

In [8]:
cols = ['country_text_id', 'country_name', 'year', 'v2x_polyarchy']
v_dem = v_dem[cols]
v_dem

      country_text_id       country_name  year  v2x_polyarchy
0                 MEX             Mexico  1789          0.026
1                 MEX             Mexico  1790          0.026
2                 MEX             Mexico  1791          0.026
3                 MEX             Mexico  1792          0.026
4                 MEX             Mexico  1793          0.026
...               ...                ...   ...            ...
27375             SPD  Piedmont-Sardinia  1857          0.214
27376             SPD  Piedmont-Sardinia  1858          0.213
27377             SPD  Piedmont-Sardinia  1859          0.213
27378             SPD  Piedmont-Sardinia  1860          0.215
27379             SPD  Piedmont-Sardinia  1861          0.217

[27380 rows x 4 columns]

In [9]:
v_dem = v_dem.query("year >= 1960 & year <=2021")
v_dem['year'].value_counts()
#confirm it worked

2021    179
2020    179
2019    179
2018    179
2017    179
       ...
1967    156
1968    156
1969    156
1970    156
1960    155
Name: year, Length: 62, dtype: int64

In [10]:
v_dem = v_dem.rename({'country_text_id':'country_code',
                     'country_name':'country_name_vdem',
                     'v2x_polyarchy':'democracy'}, axis=1)
v_dem.head()

    country_code country_name_vdem  year  democracy
171          MEX            Mexico  1960      0.231
172          MEX            Mexico  1961      0.232
173          MEX            Mexico  1962      0.234
174          MEX            Mexico  1963      0.234
175          MEX            Mexico  1964      0.234

In [11]:
v_dem = v_dem.sort_values(by = ['year', 'country_code'])
v_dem

      country_code country_name_vdem  year  democracy
5404           AFG       Afghanistan  1960      0.081
15787          AGO            Angola  1960      0.009
1801           ALB           Albania  1960      0.174
5637           ARG         Argentina  1960      0.484
10024          AUS         Australia  1960      0.835
...            ...               ...   ...        ...
2261           YEM             Yemen  2021      0.112
1053           ZAF      South Africa  2021      0.715
9187           ZMB            Zambia  2021      0.379
9309           ZWE          Zimbabwe  2021      0.281
25980          ZZB          Zanzibar  2021      0.263

[10371 rows x 4 columns]

## Question 2 D

In [12]:
cols = ['Country Code', 'Table Name',
        'Long Name', 'Currency Unit',
       'Region', 'Income Group']
country = country[cols]
country

,Country Code,Table Name,Long Name,Currency Unit,Region,Income Group
0,AFG,Afghanistan,Islamic State of Afghanistan,Afghan afghani,South Asia,Low income
1,AGO,Angola,People's Republic of Angola,Angolan kwanza,Sub-Saharan Africa,Lower middle income
2,ALB,Albania,Republic of Albania,Albanian lek,Europe & Central Asia,Upper middle income
3,AND,Andorra,Principality of Andorra,Euro,Europe & Central Asia,High income
4,ARB,Arab World,Arab World,NaN,NaN,NaN
...,...,...,...,...,...,...
234,WSM,Samoa,Samoa,Samoan tala,East Asia & Pacific,Lower middle income
235,YEM,"Yemen, Rep.",Republic of Yemen,Yemeni rial,Middle East & North Africa,Low income
236,ZAF,South Africa,Republic of South Africa,South African rand,Sub-Saharan Africa,Upper middle income
237,ZMB,Zambia,Republic of Zambia,New Zambian kwacha,Sub-Saharan Africa,Low income
238,ZWE,Zimbabwe,Republic of Zimbabwe,Zimbabwean Dollar,Sub-Saharan Africa,Lower middle income

In [13]:
country = country.rename({'Country Code': 'country_code',
                         'Table Name': 'country_name_wb',
                         'Long Name':'country_longname',
                         'Currency Unit': 'currency_unit',
                         'Region':'region', 
                          'Income Group': 'income_group'}, axis= 1)
country

,country_code,country_name_wb,country_longname,currency_unit,region,income_group
0,AFG,Afghanistan,Islamic State of Afghanistan,Afghan afghani,South Asia,Low income
1,AGO,Angola,People's Republic of Angola,Angolan kwanza,Sub-Saharan Africa,Lower middle income
2,ALB,Albania,Republic of Albania,Albanian lek,Europe & Central Asia,Upper middle income
3,AND,Andorra,Principality of Andorra,Euro,Europe & Central Asia,High income
4,ARB,Arab World,Arab World,NaN,NaN,NaN
...,...,...,...,...,...,...
234,WSM,Samoa,Samoa,Samoan tala,East Asia & Pacific,Lower middle income
235,YEM,"Yemen, Rep.",Republic of Yemen,Yemeni rial,Middle East & North Africa,Low income
236,ZAF,South Africa,Republic of South Africa,South African rand,Sub-Saharan Africa,Upper middle income
237,ZMB,Zambia,Republic of Zambia,New Zambian kwacha,Sub-Saharan Africa,Low income
238,ZWE,Zimbabwe,Republic of Zimbabwe,Zimbabwean Dollar,Sub-Saharan Africa,Lower middle income

In [14]:
noncountries = ["Arab World", "Central Europe and the Baltics","Caribbean small states",
                "East Asia & Pacific (excluding high income)","Early-demographic dividend","East Asia & Pacific",
                "Europe & Central Asia (excluding high income)","Europe & Central Asia", "Euro area",
                "European Union","Fragile and conflict affected situations","High income",
                "Heavily indebted poor countries (HIPC)","IBRD only","IDA & IBRD total",
                "IDA total","IDA blend","IDA only",
                "Latin America & Caribbean (excluding high income)","Latin America & Caribbean","Least developed countries: UN classification",
                "Low income","Lower middle income","Low & middle income",
                "Late-demographic dividend","Middle East & North Africa","Middle income",
                "Middle East & North Africa (excluding high income)","North America","OECD members",
                "Other small states","Pre-demographic dividend","Pacific island small states",
                "Post-demographic dividend","Sub-Saharan Africa (excluding high income)","Sub-Saharan Africa",
                "Small states","East Asia & Pacific (IDA & IBRD)","Europe & Central Asia (IDA & IBRD)",
                "Latin America & Caribbean (IDA & IBRD)","Middle East & North Africa (IDA & IBRD)","South Asia",
                "South Asia (IDA & IBRD)","Sub-Saharan Africa (IDA & IBRD)","Upper middle income", "World"]
country = country.query("country_name_wb != @noncountries")
#Is this right??

## Question 2 E

In [15]:
cols = ['Country Code', 'Country Name', 'Indicator Code']
cols_19 = [x for x in time_series.columns if x.startswith("19")]
cols_20 = [x for x in time_series.columns if x.startswith("20")]        
final_cols = cols + cols_19 + cols_20
time_series = time_series[final_cols]
cols_to_drop = ['2050']
time_series = time_series.drop(cols_to_drop, axis =1)
time_series

,Country Code,Country Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,ARB,Arab World,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.644218,85.932567,86.232384,86.478597,86.722685,86.937933,87.040774,87.235539,87.307068,NaN
1,ARB,Arab World,EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,87.039588,88.992620,88.015356,88.681886,89.195062,90.324659,88.910749,89.999946,90.277735,NaN
2,ARB,Arab World,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.859225,11.638397,10.297891,6.237703,5.203895,6.480083,8.479070,7.437145,4.376374,NaN
3,ARB,Arab World,NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.032266,0.062625,0.084948,0.099784,0.095056,0.095498,0.051058,0.062195,0.079081,NaN
4,ARB,Arab World,AG.LND.AGRI.ZS,NaN,30.981194,30.982443,31.006834,31.017781,31.042245,31.05018,...,36.484107,36.532755,36.529508,36.565532,36.627752,36.673546,36.659112,36.597936,36.659647,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16008,ZWE,Zimbabwe,IC.LGL.CRED.XQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,6.000000,NaN,NaN
16009,ZWE,Zimbabwe,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.214542,27.214585,27.214585,27.214746,27.214746,27.214746
16010,ZWE,Zimbabwe,SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.153000,4.982000,4.770000,4.778000,4.788000,4.785000,4.796000,4.833000,5.351000,5.174000
16011,ZWE,Zimbabwe,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.382129,10.400000,NaN,NaN,NaN,NaN,NaN,NaN
16012,ZWE,Zimbabwe,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.471968,-1.386220,-1.256889,-1.166087,-1.178460,-1.195904,-1.140975,-1.164705,-1.113716,-1.136934

In [16]:
time_series = time_series.rename({'Country Code': 'country_code',
                         'Country Name':'country_name_wb',
                                 'Indicator Code': 'feature'}, axis= 1)
time_series

,country_code,country_name_wb,feature,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,ARB,Arab World,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.644218,85.932567,86.232384,86.478597,86.722685,86.937933,87.040774,87.235539,87.307068,NaN
1,ARB,Arab World,EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,87.039588,88.992620,88.015356,88.681886,89.195062,90.324659,88.910749,89.999946,90.277735,NaN
2,ARB,Arab World,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.859225,11.638397,10.297891,6.237703,5.203895,6.480083,8.479070,7.437145,4.376374,NaN
3,ARB,Arab World,NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.032266,0.062625,0.084948,0.099784,0.095056,0.095498,0.051058,0.062195,0.079081,NaN
4,ARB,Arab World,AG.LND.AGRI.ZS,NaN,30.981194,30.982443,31.006834,31.017781,31.042245,31.05018,...,36.484107,36.532755,36.529508,36.565532,36.627752,36.673546,36.659112,36.597936,36.659647,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16008,ZWE,Zimbabwe,IC.LGL.CRED.XQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,6.000000,NaN,NaN
16009,ZWE,Zimbabwe,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.214542,27.214585,27.214585,27.214746,27.214746,27.214746
16010,ZWE,Zimbabwe,SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.153000,4.982000,4.770000,4.778000,4.788000,4.785000,4.796000,4.833000,5.351000,5.174000
16011,ZWE,Zimbabwe,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.382129,10.400000,NaN,NaN,NaN,NaN,NaN,NaN
16012,ZWE,Zimbabwe,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.471968,-1.386220,-1.256889,-1.166087,-1.178460,-1.195904,-1.140975,-1.164705,-1.113716,-1.136934

In [17]:
noncountries.remove('World')

In [18]:
time_series = time_series.query("country_name_wb != @noncountries")

In [19]:
replace_map = {'AG.LND.AGRI.ZS': 'agricultural_land',
 'AG.LND.FRST.ZS': 'forest_area',
 'AG.PRD.FOOD.XD': 'food_production_index',
 'CC.EST': 'control_of_corruption',
 'EG.CFT.ACCS.ZS': 'access_to_clean_fuels_and_technologies_for_cooking',
 'EG.EGY.PRIM.PP.KD': 'energy_intensity_level_of_primary_energy',
 'EG.ELC.ACCS.ZS': 'access_to_electricity',
 'EG.ELC.COAL.ZS': 'electricity_production_from_coal_sources',
 'EG.ELC.RNEW.ZS': 'renewable_electricity_output',
 'EG.FEC.RNEW.ZS': 'renewable_energy_consumption',
 'EG.IMP.CONS.ZS': 'energy_imports',
 'EG.USE.COMM.FO.ZS': 'fossil_fuel_energy_consumption',
 'EG.USE.PCAP.KG.OE': 'energy_use',
 'EN.ATM.CO2E.PC': 'co2_emissions',
 'EN.ATM.METH.PC': 'methane_emissions',
 'EN.ATM.NOXE.PC': 'nitrous_oxide_emissions',
 'EN.ATM.PM25.MC.M3': 'pm2_5_air_pollution',
 'EN.CLC.CDDY.XD': 'cooling_degree_days',
 'EN.CLC.GHGR.MT.CE': 'ghg_net_emissions',
 'EN.CLC.HEAT.XD': 'heat_index_35',
 'EN.CLC.MDAT.ZS': 'droughts',
 'EN.CLC.PRCP.XD': 'maximum_5-day_rainfall',
 'EN.CLC.SPEI.XD': 'mean_drought_index',
 'EN.MAM.THRD.NO': 'mammal_species',
 'EN.POP.DNST': 'population_density',
 'ER.H2O.FWTL.ZS': 'annual_freshwater_withdrawals',
 'ER.PTD.TOTL.ZS': 'terrestrial_and_marine_protected_areas',
 'GB.XPD.RSDV.GD.ZS': 'research_and_development_expenditure',
 'GE.EST': 'government_effectiveness',
 'IC.BUS.EASE.XQ': 'ease_of_doing_business_rank',
 'IC.LGL.CRED.XQ': 'strength_of_legal_rights_index',
 'IP.JRN.ARTC.SC': 'scientific_and_technical_journal_articles',
 'IP.PAT.RESD': 'patent_applications',
 'IT.NET.USER.ZS': 'individuals_using_the_internet',
 'NV.AGR.TOTL.ZS': 'agriculture',
 'NY.ADJ.DFOR.GN.ZS': 'net_forest_depletion',
 'NY.ADJ.DRES.GN.ZS': 'natural_resources_depletion',
 'NY.GDP.MKTP.KD.ZG': 'gdp_growth',
 'PV.EST': 'political_stability_and_absence_of_violence',
 'RL.EST': 'rule_of_law',
 'RQ.EST': 'regulatory_quality',
 'SE.ADT.LITR.ZS': 'literacy_rate',
 'SE.ENR.PRSC.FM.ZS': 'gross_school_enrollment',
 'SE.PRM.ENRR': 'primary_school_enrollment',
 'SE.XPD.TOTL.GB.ZS': 'government_expenditure_on_education',
 'SG.GEN.PARL.ZS': 'proportion_of_seats_held_by_women_in_national_parliaments',
 'SH.DTH.COMM.ZS': 'cause_of_death',
 'SH.DYN.MORT': 'mortality_rate',
 'SH.H2O.SMDW.ZS': 'people_using_safely_managed_drinking_water_services',
 'SH.MED.BEDS.ZS': 'hospital_beds',
 'SH.STA.OWAD.ZS': 'prevalence_of_overweight',
 'SH.STA.SMSS.ZS': 'people_using_safely_managed_sanitation_services',
 'SI.DST.FRST.20': 'income_share_held_by_lowest_20pct',
 'SI.POV.GINI': 'gini_index',
 'SI.POV.NAHC': 'poverty_headcount_ratio_at_national_poverty_lines',
 'SI.SPR.PCAP.ZG': 'annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income',
 'SL.TLF.0714.ZS': 'children_in_employment',
                'SL.TLF.ACTI.ZS': 'labor_force_participation_rate',
 'SL.TLF.CACT.FM.ZS': 'ratio_of_female_to_male_labor_force_participation_rate',
 'SL.UEM.TOTL.ZS': 'unemployment',
 'SM.POP.NETM': 'net_migration',
 'SN.ITK.DEFC.ZS': 'prevalence_of_undernourishment',
 'SP.DYN.LE00.IN': 'life_expectancy_at_birth',
 'SP.DYN.TFRT.IN': 'fertility_rate',
 'SP.POP.65UP.TO.ZS': 'population_ages_65_and_above',
 'SP.UWT.TFRT': 'unmet_need_for_contraception',
 'VA.EST': 'voice_and_accountability'}

In [20]:
time_series.feature = time_series.feature.map(replace_map)
time_series.feature

/tmp/ipykernel_183/3457986410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time_series.feature = time_series.feature.map(replace_map)

2211     access_to_clean_fuels_and_technologies_for_coo...
2212                                 access_to_electricity
2213                           natural_resources_depletion
2214                                  net_forest_depletion
2215                                     agricultural_land
                               ...
16008                       strength_of_legal_rights_index
16009               terrestrial_and_marine_protected_areas
16010                                         unemployment
16011                         unmet_need_for_contraception
16012                             voice_and_accountability
Name: feature, Length: 12998, dtype: object

## Question 2 F and G

In [21]:
#reshape years into rows
time_series = pd.melt(time_series, id_vars = ['country_code', 'country_name_wb', 'feature'], value_vars=[str(i) for i in range(1960,2022)])
time_series = time_series.rename({'variable': 'year'}, axis= 1)
time_series

,country_code,country_name_wb,feature,year,value
0,WLD,World,access_to_clean_fuels_and_technologies_for_coo...,1960,NaN
1,WLD,World,access_to_electricity,1960,NaN
2,WLD,World,natural_resources_depletion,1960,NaN
3,WLD,World,net_forest_depletion,1960,NaN
4,WLD,World,agricultural_land,1960,NaN
...,...,...,...,...,...
805871,ZWE,Zimbabwe,strength_of_legal_rights_index,2021,NaN
805872,ZWE,Zimbabwe,terrestrial_and_marine_protected_areas,2021,27.214746
805873,ZWE,Zimbabwe,unemployment,2021,5.174000
805874,ZWE,Zimbabwe,unmet_need_for_contraception,2021,NaN
805875,ZWE,Zimbabwe,voice_and_accountability,2021,-1.136934

In [22]:
#recode year as int
time_series.year = time_series.year.astype('int')
time_series.dtypes

country_code        object
country_name_wb     object
feature             object
year                 int64
value              float64
dtype: object

In [23]:
#reshape rows features into columns
time_series = time_series.pivot_table(index = ['country_code', 'country_name_wb', 'year'], columns='feature', values='value')
time_series = pd.DataFrame(time_series.to_records())

## Question 1 H

In [24]:
world_df = time_series.query("country_name_wb == 'World'")
world_df

,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,cause_of_death,...,renewable_electricity_output,renewable_energy_consumption,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,unemployment,unmet_need_for_contraception,voice_and_accountability
11650,WLD,World,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11651,WLD,World,1961,NaN,NaN,34.553080,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11652,WLD,World,1962,NaN,NaN,34.618111,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11653,WLD,World,1963,NaN,NaN,34.702027,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11654,WLD,World,1964,NaN,NaN,34.775809,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11707,WLD,World,2017,65.773618,88.594052,36.616665,4.139864,9.241538,NaN,NaN,...,NaN,NaN,2.133745,NaN,2.464402e+06,5.347368,14.339432,5.557650,NaN,NaN
11708,WLD,World,2018,67.147032,89.566532,36.498736,3.941813,9.250457,NaN,NaN,...,NaN,NaN,2.196333,NaN,2.554319e+06,5.507853,14.339452,5.389680,NaN,NaN
11709,WLD,World,2019,68.457171,90.011785,36.511307,4.007295,NaN,NaN,18.40885,...,NaN,NaN,2.331913,NaN,NaN,5.685864,NaN,5.356915,NaN,NaN
11710,WLD,World,2020,69.681839,90.521569,36.458841,4.385748,NaN,NaN,NaN,...,NaN,NaN,2.625844,NaN,NaN,NaN,NaN,6.573234,NaN,NaN
11711,WLD,World,2021,NaN,NaN,NaN,4.334466,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.178060,NaN,NaN

In [25]:
time_series = time_series.query("country_name_wb!='World'")
time_series

,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,cause_of_death,...,renewable_electricity_output,renewable_energy_consumption,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,unemployment,unmet_need_for_contraception,voice_and_accountability
0,AFG,Afghanistan,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1961,NaN,NaN,57.801696,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1962,NaN,NaN,57.893688,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1963,NaN,NaN,57.970348,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1964,NaN,NaN,58.066940,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12017,ZWE,Zimbabwe,2017,29.8,44.178635,41.876696,8.340969,27.234910,-3.5,NaN,...,NaN,82.46,NaN,-1.385256,340.45,5.0,27.214585,4.785,NaN,-1.195904
12018,ZWE,Zimbabwe,2018,29.9,45.572647,41.876696,10.520955,30.761664,NaN,NaN,...,NaN,80.23,NaN,-1.278995,359.33,5.0,27.214585,4.796,NaN,-1.140975
12019,ZWE,Zimbabwe,2019,30.1,46.781475,41.876696,10.143657,NaN,NaN,47.647301,...,NaN,81.50,NaN,-1.292071,NaN,6.0,27.214746,4.833,NaN,-1.164705
12020,ZWE,Zimbabwe,2020,30.4,52.747669,41.876696,7.607101,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.307897,NaN,NaN,27.214746,5.351,NaN,-1.113716
12021,ZWE,Zimbabwe,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.260689,NaN,NaN,27.214746,5.174,NaN,-1.136934

In [26]:
cols_to_drop = ['country_code', 'country_name_wb']
world_df = world_df.drop(cols_to_drop, axis =1)
world_df

,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,cause_of_death,children_in_employment,co2_emissions,...,renewable_electricity_output,renewable_energy_consumption,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,unemployment,unmet_need_for_contraception,voice_and_accountability
11650,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11651,1961,NaN,NaN,34.553080,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11652,1962,NaN,NaN,34.618111,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11653,1963,NaN,NaN,34.702027,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11654,1964,NaN,NaN,34.775809,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11707,2017,65.773618,88.594052,36.616665,4.139864,9.241538,NaN,NaN,NaN,4.457093,...,NaN,NaN,2.133745,NaN,2.464402e+06,5.347368,14.339432,5.557650,NaN,NaN
11708,2018,67.147032,89.566532,36.498736,3.941813,9.250457,NaN,NaN,NaN,4.510145,...,NaN,NaN,2.196333,NaN,2.554319e+06,5.507853,14.339452,5.389680,NaN,NaN
11709,2019,68.457171,90.011785,36.511307,4.007295,NaN,NaN,18.40885,NaN,4.469660,...,NaN,NaN,2.331913,NaN,NaN,5.685864,NaN,5.356915,NaN,NaN
11710,2020,69.681839,90.521569,36.458841,4.385748,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.625844,NaN,NaN,NaN,NaN,6.573234,NaN,NaN
11711,2021,NaN,NaN,NaN,4.334466,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.178060,NaN,NaN

In [27]:
world_df = world_df.add_prefix('world_')
world_df = world_df.rename({"world_year":"year"}, axis=1)
world_df

,year,world_access_to_clean_fuels_and_technologies_for_cooking,world_access_to_electricity,world_agricultural_land,world_agriculture,world_annual_freshwater_withdrawals,world_annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,world_cause_of_death,world_children_in_employment,world_co2_emissions,...,world_renewable_electricity_output,world_renewable_energy_consumption,world_research_and_development_expenditure,world_rule_of_law,world_scientific_and_technical_journal_articles,world_strength_of_legal_rights_index,world_terrestrial_and_marine_protected_areas,world_unemployment,world_unmet_need_for_contraception,world_voice_and_accountability
11650,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11651,1961,NaN,NaN,34.553080,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11652,1962,NaN,NaN,34.618111,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11653,1963,NaN,NaN,34.702027,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11654,1964,NaN,NaN,34.775809,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11707,2017,65.773618,88.594052,36.616665,4.139864,9.241538,NaN,NaN,NaN,4.457093,...,NaN,NaN,2.133745,NaN,2.464402e+06,5.347368,14.339432,5.557650,NaN,NaN
11708,2018,67.147032,89.566532,36.498736,3.941813,9.250457,NaN,NaN,NaN,4.510145,...,NaN,NaN,2.196333,NaN,2.554319e+06,5.507853,14.339452,5.389680,NaN,NaN
11709,2019,68.457171,90.011785,36.511307,4.007295,NaN,NaN,18.40885,NaN,4.469660,...,NaN,NaN,2.331913,NaN,NaN,5.685864,NaN,5.356915,NaN,NaN
11710,2020,69.681839,90.521569,36.458841,4.385748,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.625844,NaN,NaN,NaN,NaN,6.573234,NaN,NaN
11711,2021,NaN,NaN,NaN,4.334466,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.178060,NaN,NaN

## Question 2 I

This will be a one to one merge, as each country and year in one data set will match with exactly one country and year in the other data set.

In [28]:
merged_data = pd.merge(time_series, v_dem, on=['year', 'country_code'], how='outer', 
                       indicator='matched', validate='one_to_one')
merged_data

,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,cause_of_death,...,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,unemployment,unmet_need_for_contraception,voice_and_accountability,country_name_vdem,democracy,matched
0,AFG,Afghanistan,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,0.081,both
1,AFG,Afghanistan,1961,NaN,NaN,57.801696,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,0.083,both
2,AFG,Afghanistan,1962,NaN,NaN,57.893688,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,0.083,both
3,AFG,Afghanistan,1963,NaN,NaN,57.970348,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,0.086,both
4,AFG,Afghanistan,1964,NaN,NaN,58.066940,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,0.098,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12350,PSG,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Palestine/Gaza,0.134,right_only
12351,SML,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somaliland,0.413,right_only
12352,TWN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Taiwan,0.813,right_only
12353,XKX,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo,0.601,right_only
12354,ZZB,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zanzibar,0.263,right_only

## Question 2 J

In [29]:
merged_data.matched.value_counts()

both          9976
left_only     1984
right_only     395
Name: matched, dtype: int64

In [30]:
#in world bank but not vdem
left_unmerged = merged_data.query("matched=='left_only'")
left_unmerged= left_unmerged.groupby([ 'country_code','country_name_wb']).agg({'year': ['min', 'max']})
left_unmerged.head(100)

                                             year
                                              min   max
country_code country_name_wb
AND          Andorra                         1961  2021
ARE          United Arab Emirates            1960  1970
ARM          Armenia                         1960  1989
ATG          Antigua and Barbuda             1960  2021
AZE          Azerbaijan                      1960  1989
BGD          Bangladesh                      1960  1970
BHS          Bahamas, The                    1960  2021
BIH          Bosnia and Herzegovina          1960  1991
BLR          Belarus                         1960  1989
BLZ          Belize                          1960  2021
BRN          Brunei Darussalam               1960  2021
CMR          Cameroon                        1960  1960
DMA          Dominica                        1960  2021
EST          Estonia                         1960  1989
FSM          Micronesia, Fed. Sts.           1960  2021
GEO          Georgia                         1960  1989
GRD          Grenada                         1960  2021
HRV          Croatia                         1960  1990
KAZ          Kazakhstan                      1960  1989
KGZ          Kyrgyz Republic                 1960  1989
KIR          Kiribati                        1960  2021
KNA          St. Kitts and Nevis             1960  2021
LCA          St. Lucia                       1960  2021
LIE          Liechtenstein                   1961  2021
LTU          Lithuania                       1960  1989
LVA          Latvia                          1960  1989
MCO          Monaco                          1961  2021
MDA          Moldova                         1960  1989
MHL          Marshall Islands                1960  2021
MKD          North Macedonia                 1960  1990
MNE          Montenegro                      1960  1997
NRU          Nauru                           1961  2021
PLW          Palau                           1961  2021
SMR          San Marino                      1961  2021
SSD          South Sudan                     1960  2010
SVK          Slovak Republic                 1960  1992
SVN          Slovenia                        1960  1988
TJK          Tajikistan                      1960  1989
TKM          Turkmenistan                    1960  1989
TON          Tonga                           1960  2021
TUV          Tuvalu                          1960  2021
UKR          Ukraine                         1960  1989
UZB          Uzbekistan                      1960  1989
VCT          St. Vincent and the Grenadines  1960  2021
WSM          Samoa                           1960  2021

In [31]:
#in vdem but not world bank
right_unmerged = merged_data.query("matched=='right_only'")
right_unmerged= right_unmerged.groupby([ 'country_code','country_name_vdem']).agg({'year': ['min', 'max']})
right_unmerged.head(100)

                                         year
                                          min   max
country_code country_name_vdem
DDR          German Democratic Republic  1960  1990
HKG          Hong Kong                   1960  2021
PSE          Palestine/West Bank         1967  2021
PSG          Palestine/Gaza              1960  2021
SML          Somaliland                  1991  2021
TWN          Taiwan                      1960  2021
VDR          Republic of Vietnam         1960  1975
XKX          Kosovo                      1999  2021
YMD          South Yemen                 1960  1990
ZZB          Zanzibar                    1960  2021

## Question 2 K
I do not see any countries that are present in both unmatched data sets. For countries in World Bank but not in V-Dem, there are three clear patterns in V-Dem's data collection that led to these gaps. The first is that V-Dem didn't collect data from former individual Soviet States, while the World Bank did. The second is that V-Dem did not collect data from very small countries like Monaco, while the World Bank did. Finally, V-Dem also did not collect data from countries that came into existence during part of this timeframe (1960-2021) like South Sudan, while the World Bank did. For countries in V-Dem that are not in the World Bank data, these countries are technically not independent (ex. Taiwan and Hong Kong are technically part of China). It is likely the World Bank does not collect data from these countries individually because they are not recognized as independent, while V-Dem does collect data from them.

## Question 2 I

In [32]:
merged_data = pd.merge(time_series, v_dem, on=['year', 'country_code'], how='inner')
merged_data

,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,cause_of_death,...,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,unemployment,unmet_need_for_contraception,voice_and_accountability,country_name_vdem,democracy
0,AFG,Afghanistan,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,0.081
1,AFG,Afghanistan,1961,NaN,NaN,57.801696,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,0.083
2,AFG,Afghanistan,1962,NaN,NaN,57.893688,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,0.083
3,AFG,Afghanistan,1963,NaN,NaN,57.970348,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,0.086
4,AFG,Afghanistan,1964,NaN,NaN,58.066940,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,0.098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9971,ZWE,Zimbabwe,2017,29.8,44.178635,41.876696,8.340969,27.234910,-3.5,NaN,...,NaN,-1.385256,340.45,5.0,27.214585,4.785,NaN,-1.195904,Zimbabwe,0.298
9972,ZWE,Zimbabwe,2018,29.9,45.572647,41.876696,10.520955,30.761664,NaN,NaN,...,NaN,-1.278995,359.33,5.0,27.214585,4.796,NaN,-1.140975,Zimbabwe,0.306
9973,ZWE,Zimbabwe,2019,30.1,46.781475,41.876696,10.143657,NaN,NaN,47.647301,...,NaN,-1.292071,NaN,6.0,27.214746,4.833,NaN,-1.164705,Zimbabwe,0.288
9974,ZWE,Zimbabwe,2020,30.4,52.747669,41.876696,7.607101,NaN,NaN,NaN,...,NaN,-1.307897,NaN,NaN,27.214746,5.351,NaN,-1.113716,Zimbabwe,0.285
9975,ZWE,Zimbabwe,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.260689,NaN,NaN,27.214746,5.174,NaN,-1.136934,Zimbabwe,0.281

## Question 3
Initially, the data are not in third normal form. The data are in first normal form, as each table has a primary key, the values inside every cell are atomic, and there are no repeating groups. However, the data are not in second normal form, as in the timeseries table, country_name_wb and country_name_vdem are dependent on part of the primary key (just country_code). Dropping these two country variables puts all three tables in second normal form. 

After dropping these variables, the tables are also in third normal form because there are no functional dependencies outside of the primary key. For example, in the timeseries data, there are no columns that depend on anything else other than year and country_code.

In [33]:
pd.set_option('display.max_columns', None) 
cols_to_drop = ['country_name_vdem', 'country_name_wb']
merged_data = merged_data.drop(cols_to_drop, axis =1)
timeseries = merged_data
timeseries.head()

,country_code,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,cause_of_death,children_in_employment,co2_emissions,control_of_corruption,droughts,ease_of_doing_business_rank,electricity_production_from_coal_sources,energy_imports,energy_intensity_level_of_primary_energy,energy_use,fertility_rate,food_production_index,forest_area,fossil_fuel_energy_consumption,gdp_growth,ghg_net_emissions,gini_index,government_effectiveness,government_expenditure_on_education,gross_school_enrollment,hospital_beds,income_share_held_by_lowest_20pct,individuals_using_the_internet,labor_force_participation_rate,life_expectancy_at_birth,literacy_rate,mammal_species,methane_emissions,mortality_rate,natural_resources_depletion,net_forest_depletion,net_migration,nitrous_oxide_emissions,patent_applications,people_using_safely_managed_drinking_water_services,people_using_safely_managed_sanitation_services,pm2_5_air_pollution,political_stability_and_absence_of_violence,population_ages_65_and_above,population_density,poverty_headcount_ratio_at_national_poverty_lines,prevalence_of_overweight,prevalence_of_undernourishment,primary_school_enrollment,proportion_of_seats_held_by_women_in_national_parliaments,ratio_of_female_to_male_labor_force_participation_rate,regulatory_quality,renewable_electricity_output,renewable_energy_consumption,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,unemployment,unmet_need_for_contraception,voice_and_accountability,democracy
0,AFG,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.170627,NaN,NaN,NaN,32.446,NaN,NaN,NaN,358.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.798308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.081
1,AFG,1961,NaN,NaN,57.801696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.45,41.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.962,NaN,NaN,NaN,352.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.808131,14.058547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.083
2,AFG,1962,NaN,NaN,57.893688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.45,41.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.471,NaN,NaN,NaN,346.3,NaN,NaN,-20000.0,NaN,NaN,NaN,NaN,NaN,NaN,2.804113,14.337645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.083
3,AFG,1963,NaN,NaN,57.970348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.45,41.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.971,NaN,NaN,NaN,340.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.786171,14.631648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.086
4,AFG,1964,NaN,NaN,58.066940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.45,45.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.463,NaN,NaN,NaN,335.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.754223,14.940699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.098

In [34]:
world= world_df
world.head()

,year,world_access_to_clean_fuels_and_technologies_for_cooking,world_access_to_electricity,world_agricultural_land,world_agriculture,world_annual_freshwater_withdrawals,world_annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,world_cause_of_death,world_children_in_employment,world_co2_emissions,world_control_of_corruption,world_droughts,world_ease_of_doing_business_rank,world_electricity_production_from_coal_sources,world_energy_imports,world_energy_intensity_level_of_primary_energy,world_energy_use,world_fertility_rate,world_food_production_index,world_forest_area,world_fossil_fuel_energy_consumption,world_gdp_growth,world_ghg_net_emissions,world_gini_index,world_government_effectiveness,world_government_expenditure_on_education,world_gross_school_enrollment,world_hospital_beds,world_income_share_held_by_lowest_20pct,world_individuals_using_the_internet,world_labor_force_participation_rate,world_life_expectancy_at_birth,world_literacy_rate,world_mammal_species,world_methane_emissions,world_mortality_rate,world_natural_resources_depletion,world_net_forest_depletion,world_net_migration,world_nitrous_oxide_emissions,world_patent_applications,world_people_using_safely_managed_drinking_water_services,world_people_using_safely_managed_sanitation_services,world_pm2_5_air_pollution,world_political_stability_and_absence_of_violence,world_population_ages_65_and_above,world_population_density,world_poverty_headcount_ratio_at_national_poverty_lines,world_prevalence_of_overweight,world_prevalence_of_undernourishment,world_primary_school_enrollment,world_proportion_of_seats_held_by_women_in_national_parliaments,world_ratio_of_female_to_male_labor_force_participation_rate,world_regulatory_quality,world_renewable_electricity_output,world_renewable_energy_consumption,world_research_and_development_expenditure,world_rule_of_law,world_scientific_and_technical_journal_articles,world_strength_of_legal_rights_index,world_terrestrial_and_marine_protected_areas,world_unemployment,world_unmet_need_for_contraception,world_voice_and_accountability
11650,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.716147,NaN,NaN,4.979299,NaN,NaN,94.134547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.581916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.970172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11651,1961,NaN,NaN,34.553080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.635803,NaN,NaN,5.003564,NaN,NaN,94.095720,3.790542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.075105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.016770,23.695278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11652,1962,NaN,NaN,34.618111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.022630,NaN,NaN,5.025367,NaN,NaN,94.217634,5.316458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.492420,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,5.042383,24.103871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11653,1963,NaN,NaN,34.702027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.140442,NaN,NaN,5.045551,NaN,NaN,94.424139,5.184865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.017514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.052033,24.606030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11654,1964,NaN,NaN,34.775809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.961508,NaN,NaN,5.056470,NaN,NaN,94.537399,6.558489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.687504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.056445,25.111241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
country.head()

,country_code,country_name_wb,country_longname,currency_unit,region,income_group
0,AFG,Afghanistan,Islamic State of Afghanistan,Afghan afghani,South Asia,Low income
1,AGO,Angola,People's Republic of Angola,Angolan kwanza,Sub-Saharan Africa,Lower middle income
2,ALB,Albania,Republic of Albania,Albanian lek,Europe & Central Asia,Upper middle income
3,AND,Andorra,Principality of Andorra,Euro,Europe & Central Asia,High income
5,ARE,United Arab Emirates,United Arab Emirates,U.A.E. dirham,Middle East & North Africa,High income

## Question 4

In [36]:
server = psycopg2.connect(
    user = 'postgres',
    password = postgres_password,
    host = 'postgres',
    port = '5432')
server.autocommit = True

In [37]:
cursor = server.cursor()

In [38]:
try: 
    cursor.execute("CREATE DATABASE cardib")
except:
    cursor.execute("DROP DATABASE cardib")
    cursor.execute("CREATE DATABASE cardib")

In [39]:
engine = create_engine("postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}".format(
    user = 'postgres', 
    password = postgres_password, 
    host = 'postgres', 
    port = '5432', 
    db= 'cardib'))

In [40]:
timeseries.to_sql('timeseries', con = engine, if_exists = 'replace', index=False, chunksize=1000)
country.to_sql('country', con = engine, if_exists = 'replace', index=False, chunksize=1000)
world.to_sql('world', con = engine, if_exists = 'replace', index=False, chunksize=1000)

62

## Question 5

In [41]:
pd.set_option('display.max_rows', None) 
timeseries.head(0).T

Empty DataFrame
Columns: []
Index: [country_code, year, access_to_clean_fuels_and_technologies_for_cooking, access_to_electricity, agricultural_land, agriculture, annual_freshwater_withdrawals, annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income, cause_of_death, children_in_employment, co2_emissions, control_of_corruption, droughts, ease_of_doing_business_rank, electricity_production_from_coal_sources, energy_imports, energy_intensity_level_of_primary_energy, energy_use, fertility_rate, food_production_index, forest_area, fossil_fuel_energy_consumption, gdp_growth, ghg_net_emissions, gini_index, government_effectiveness, government_expenditure_on_education, gross_school_enrollment, hospital_beds, income_share_held_by_lowest_20pct, individuals_using_the_internet, labor_force_participation_rate, life_expectancy_at_birth, literacy_rate, mammal_species, methane_emissions, mortality_rate, natural_resources_depletion, net_forest_depletion, net_migration, nitrous_oxide_emissions, patent_applications, people_using_safely_managed_drinking_water_services, people_using_safely_managed_sanitation_services, pm2_5_air_pollution, political_stability_and_absence_of_violence, population_ages_65_and_above, population_density, poverty_headcount_ratio_at_national_poverty_lines, prevalence_of_overweight, prevalence_of_undernourishment, primary_school_enrollment, proportion_of_seats_held_by_women_in_national_parliaments, ratio_of_female_to_male_labor_force_participation_rate, regulatory_quality, renewable_electricity_output, renewable_energy_consumption, research_and_development_expenditure, rule_of_law, scientific_and_technical_journal_articles, strength_of_legal_rights_index, terrestrial_and_marine_protected_areas, unemployment, unmet_need_for_contraception, voice_and_accountability, democracy]

In [42]:
country.head(0).T

Empty DataFrame
Columns: []
Index: [country_code, country_name_wb, country_longname, currency_unit, region, income_group]

In [43]:
world.head(0).T

Empty DataFrame
Columns: []
Index: [year, world_access_to_clean_fuels_and_technologies_for_cooking, world_access_to_electricity, world_agricultural_land, world_agriculture, world_annual_freshwater_withdrawals, world_annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income, world_cause_of_death, world_children_in_employment, world_co2_emissions, world_control_of_corruption, world_droughts, world_ease_of_doing_business_rank, world_electricity_production_from_coal_sources, world_energy_imports, world_energy_intensity_level_of_primary_energy, world_energy_use, world_fertility_rate, world_food_production_index, world_forest_area, world_fossil_fuel_energy_consumption, world_gdp_growth, world_ghg_net_emissions, world_gini_index, world_government_effectiveness, world_government_expenditure_on_education, world_gross_school_enrollment, world_hospital_beds, world_income_share_held_by_lowest_20pct, world_individuals_using_the_internet, world_labor_force_participation_rate, world_life_expectancy_at_birth, world_literacy_rate, world_mammal_species, world_methane_emissions, world_mortality_rate, world_natural_resources_depletion, world_net_forest_depletion, world_net_migration, world_nitrous_oxide_emissions, world_patent_applications, world_people_using_safely_managed_drinking_water_services, world_people_using_safely_managed_sanitation_services, world_pm2_5_air_pollution, world_political_stability_and_absence_of_violence, world_population_ages_65_and_above, world_population_density, world_poverty_headcount_ratio_at_national_poverty_lines, world_prevalence_of_overweight, world_prevalence_of_undernourishment, world_primary_school_enrollment, world_proportion_of_seats_held_by_women_in_national_parliaments, world_ratio_of_female_to_male_labor_force_participation_rate, world_regulatory_quality, world_renewable_electricity_output, world_renewable_energy_consumption, world_research_and_development_expenditure, world_rule_of_law, world_scientific_and_technical_journal_articles, world_strength_of_legal_rights_index, world_terrestrial_and_marine_protected_areas, world_unemployment, world_unmet_need_for_contraception, world_voice_and_accountability]

DBML file:
Project cardib_database {
  database_type: 'PostgreSQL'
  Note: '''
    # Country Analysis Relational DataBase (CARDiB)
    ### Version 0.0.1
    The data come from the World Bank's Sovereign Environmental, Social, and Governance (ESG) Data project and the Varieties of Democracy (V-Dem) project at the University of Notre Dame. 
  '''
}
Table timeseries as T {
  country_code varchar [pk]
  year int [pk]
  access_to_clean_fuels_and_technologies_for_cooking float
  access_to_electricity float
  agricultural_land float
  agriculture float
  annual_freshwater_withdrawals float
  annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income float
  cause_of_death float
  children_in_employment float
  co2_emissions float
  control_of_corruption float
  droughts float
  ease_of_doing_business_rank float
  electricity_production_from_coal_sources float
  energy_imports float
  energy_intensity_level_of_primary_energy float
  energy_use float
  fertility_rate float
  food_production_index float
  forest_area float
  fossil_fuel_energy_consumption float
  gdp_growth float
  ghg_net_emissions float
  gini_index float
  government_effectiveness float
  government_expenditure_on_education float
  gross_school_enrollment float
  hospital_beds float
  income_share_held_by_lowest_20pct float
  individuals_using_the_internet float
  labor_force_participation_rate float
  life_expectancy_at_birth float
  literacy_rate float
  mammal_species float
  methane_emissions float
  mortality_rate float
  natural_resources_depletion float
  net_forest_depletion float
  net_migration float
  nitrous_oxide_emissions float
  patent_applications float
  people_using_safely_managed_drinking_water_services float
  people_using_safely_managed_sanitation_services float
  pm2_5_air_pollution float
  political_stability_and_absence_of_violence float
  population_ages_65_and_above float
  population_density float
  poverty_headcount_ratio_at_national_poverty_lines float
  prevalence_of_overweight float
  prevalence_of_undernourishment float
  primary_school_enrollment float
  proportion_of_seats_held_by_women_in_national_parliaments float
  ratio_of_female_to_male_labor_force_participation_rate float
  regulatory_quality float
  renewable_electricity_output float
  renewable_energy_consumption float
  research_and_development_expenditure float
  rule_of_law float
  scientific_and_technical_journal_articles float
  strength_of_legal_rights_index float
  terrestrial_and_marine_protected_areas float
  unemployment float
  unmet_need_for_contraception float
  voice_and_accountability float
  democracy float
  note: "World Bank timeseries and V-Dem data for individual countries."
}
Table country as C {
  country_code varchar [pk]
  country_name_wb varchar
  country_longname varchar
  currency_unit varchar
  region varchar
  income_group varchar
  note: "World Bank's country level indicators for each country."
}
Table world as W {
  year int [pk] 
  world_access_to_clean_fuels_and_technologies_for_cooking float
  world_access_to_electricity float  
  world_agricultural_land float  
  world_agriculture float
  world_annual_freshwater_withdrawals float
  world_annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income float
  world_cause_of_death float
  world_children_in_employment float
  world_co2_emissions float
  world_control_of_corruption float
  world_droughts float
  world_ease_of_doing_business_rank float
  world_electricity_production_from_coal_sources float
  world_energy_imports float
  world_energy_intensity_level_of_primary_energy float
  world_energy_use float
  world_fertility_rate float
  world_food_production_index float
  world_forest_area float
  world_fossil_fuel_energy_consumption float
  world_gdp_growth float
  world_ghg_net_emissions float
  world_gini_index float
  world_government_effectiveness float
  world_government_expenditure_on_education float
  world_gross_school_enrollment float
  world_hospital_beds float
  world_income_share_held_by_lowest_20pct float
  world_individuals_using_the_internet float
  world_labor_force_participation_rate float
  world_life_expectancy_at_birth float
  world_literacy_rate float
  world_mammal_species float
  world_methane_emissions float
  world_mortality_rate float
  world_natural_resources_depletion float
  world_net_forest_depletion float
  world_net_migration float
  world_nitrous_oxide_emissions float
  world_patent_applications float
  world_people_using_safely_managed_drinking_water_services float
  world_people_using_safely_managed_sanitation_services float
  world_pm2_5_air_pollution float
  world_political_stability_and_absence_of_violence float
  world_population_ages_65_and_above float
  world_population_density float
  world_poverty_headcount_ratio_at_national_poverty_lines float
  world_prevalence_of_overweight float
  world_prevalence_of_undernourishment float
  world_primary_school_enrollment float
  world_proportion_of_seats_held_by_women_in_national_parliaments float
  world_ratio_of_female_to_male_labor_force_participation_rate float
  world_regulatory_quality float
  world_renewable_electricity_output float
  world_renewable_energy_consumption float
  world_research_and_development_expenditure float
  world_rule_of_law float
  world_scientific_and_technical_journal_articles float
  world_strength_of_legal_rights_index float
  world_terrestrial_and_marine_protected_areas float
  world_unemployment float
  world_unmet_need_for_contraception float
  world_voice_and_accountability float
  note: "World Bank timeseries data for the world as a whole."
}
Ref: C.country_code < T.country_code
Ref: W.year < T.year

#### URL
https://dbdocs.io/bryanchrist21/cardib_database

# Number 6

## Number 6 A

In [44]:
myquery = '''
SELECT 
    c.country_name_wb AS country,
    t.democracy AS democracy_score
FROM timeseries t
INNER JOIN country c
    ON t.country_code = c.country_code
WHERE year = '2021'
ORDER BY democracy DESC
'''

pd.read_sql(myquery, con=engine)

                       country  democracy_score
0                      Denmark            0.908
1                       Sweden            0.907
2                   Costa Rica            0.900
3                       Norway            0.898
4                      Estonia            0.891
5                  New Zealand            0.887
6                      Ireland            0.885
7                  Switzerland            0.885
8                      Belgium            0.885
9                     Portugal            0.883
10                  Luxembourg            0.878
11                      France            0.874
12                     Germany            0.870
13                     Finland            0.868
14              United Kingdom            0.863
15                 Netherlands            0.862
16                 Korea, Rep.            0.861
17                      Canada            0.857
18                       Spain            0.856
19                   Australia            0.854
20                       Italy            0.851
21             Slovak Republic            0.846
22                     Uruguay            0.841
23                       Japan            0.835
24                       Chile            0.834
25                     Iceland            0.832
26                      Latvia            0.826
27                     Austria            0.825
28               United States            0.821
29                   Argentina            0.819
30                      Cyprus            0.816
31                     Jamaica            0.806
32              Czech Republic            0.805
33                   Lithuania            0.797
34                    Barbados            0.797
35                      Greece            0.797
36                     Romania            0.782
37                     Vanuatu            0.777
38                       Malta            0.777
39         Trinidad and Tobago            0.775
40                    Suriname            0.760
41                        Peru            0.759
42                     Croatia            0.751
43                      Panama            0.750
44                  Cabo Verde            0.747
45                      Israel            0.739
46                     Armenia            0.739
47                     Moldova            0.738
48                South Africa            0.715
49                     Senegal            0.708
50                    Slovenia            0.703
51       SÃ£o TomÃ© and Principe            0.688
52          Dominican Republic            0.683
53                 Timor-Leste            0.680
54                  Seychelles            0.667
55                Burkina Faso            0.664
56                       Ghana            0.663
57                      Brazil            0.661
58                    Bulgaria            0.656
59                     Georgia            0.648
60                    Colombia            0.645
61                     Ecuador            0.644
62                     Namibia            0.634
63                    Mongolia            0.628
64                      Mexico            0.628
65             Solomon Islands            0.626
66                     Liberia            0.624
67                     Lesotho            0.623
68                     Bolivia            0.619
69                      Malawi            0.618
70                    Maldives            0.596
71                    Botswana            0.595
72                   Mauritius            0.593
73                       Nepal            0.589
74             North Macedonia            0.586
75                   Indonesia            0.585
76                      Poland            0.585
77                      Bhutan            0.573
78                   Sri Lanka            0.573
79                    Paraguay            0.570
80               Guinea-Bissau            0.557
81                     Tunisia            0.556
82                Sierra Leone            0.553
83                      Guyana            0.537
84      Bosnia and Herzegovina            0.526
85                       Niger            0.522
86                     Ukraine            0.517
87                   Guatemala            0.502
88                 Gambia, The            0.499
89                  Montenegro            0.496
90                     Nigeria            0.491
91                  Madagascar            0.481
92                     Albania            0.478
93                       Kenya            0.471
94                 El Salvador            0.467
95                     Hungary            0.462
96                     Lebanon            0.455
97                       India            0.444
98               CÃ´te d'Ivoire            0.431
99                 Philippines            0.429
100           Papua New Guinea            0.425
101            Kyrgyz Republic            0.421
102                      Benin            0.421
103                   Malaysia            0.413
104                  Singapore            0.404
105                       Fiji            0.403
106                   Honduras            0.393
107                 Mauritania            0.385
108                     Zambia            0.379
109                      Gabon            0.377
110                       Iraq            0.373
111                       Togo            0.368
112                   Pakistan            0.363
113                   Tanzania            0.360
114           Congo, Dem. Rep.            0.358
115                 Mozambique            0.356
116                      Haiti            0.353
117                     Angola            0.351
118                     Serbia            0.336
119   Central African Republic            0.333
120                    Comoros            0.320
121                   Ethiopia            0.314
122                   Cameroon            0.299
123                     Kuwait            0.298
124                     Uganda            0.284
125                    Algeria            0.284
126                   Zimbabwe            0.281
127                    TÃ¼rkiye            0.279
128                     Guinea            0.279
129                      Libya            0.272
130                 Bangladesh            0.267
131                    Morocco            0.261
132                     Jordan            0.258
133         Russian Federation            0.257
134                 Kazakhstan            0.257
135                       Mali            0.254
136                   Djibouti            0.252
137                Congo, Rep.            0.244
138                     Rwanda            0.236
139                  Nicaragua            0.233
140                    Vietnam            0.220
141              Venezuela, RB            0.219
142                 Uzbekistan            0.216
143                       Chad            0.209
144                   Thailand            0.198
145                   Cambodia            0.195
146                 Azerbaijan            0.194
147                      Sudan            0.184
148                 Tajikistan            0.184
149           Egypt, Arab Rep.            0.184
150                    Burundi            0.184
151                    Belarus            0.183
152         Iran, Islamic Rep.            0.182
153                       Cuba            0.181
154                       Oman            0.176
155          Equatorial Guinea            0.174
156                    Somalia            0.163
157                Afghanistan            0.160
158               Turkmenistan            0.150
159       Syrian Arab Republic            0.139
160                South Sudan            0.136
161                    Lao PDR            0.133
162                   Eswatini            0.129
163                    Myanmar            0.126
164                    Bahrain            0.122
165                Yemen, Rep.            0.112
166       United Arab Emirates            0.100
167  Korea, Dem. People's Rep.            0.085
168                      China            0.078
169                    Eritrea            0.069
170                      Qatar            0.065
171               Saudi Arabia            0.016

## Number 6 B

In [45]:
myquery = '''
SELECT 
    t.year,
    t.life_expectancy_at_birth,
    w.world_life_expectancy_at_birth
FROM timeseries t
INNER JOIN world w
    ON t.year = w.year
WHERE country_code = 'CHL'
ORDER BY year DESC
'''

pd.read_sql(myquery, con=engine)

    year  life_expectancy_at_birth  world_life_expectancy_at_birth
0   2021                       NaN                             NaN
1   2020                    80.329                       72.747919
2   2019                    80.181                       72.763223
3   2018                    80.042                       72.574415
4   2017                    79.909                       72.391699
5   2016                    79.779                       72.186230
6   2015                    79.646                       71.952115
7   2014                    79.504                       71.746055
8   2013                    79.349                       71.465864
9   2012                    79.176                       71.173299
10  2011                    78.986                       70.884017
11  2010                    78.779                       70.556690
12  2009                    78.558                       70.246454
13  2008                    78.330                       69.899515
14  2007                    78.099                       69.591549
15  2006                    77.865                       69.262291
16  2005                    77.630                       68.920212
17  2004                    77.391                       68.652510
18  2003                    77.146                       68.326018
19  2002                    76.894                       68.070140
20  2001                    76.634                       67.821745
21  2000                    76.366                       67.548960
22  1999                    76.092                       67.293324
23  1998                    75.813                       67.086499
24  1997                    75.530                       66.843390
25  1996                    75.244                       66.558518
26  1995                    74.957                       66.274217
27  1994                    74.671                       66.087772
28  1993                    74.386                       65.884404
29  1992                    74.100                       65.770017
30  1991                    73.808                       65.618381
31  1990                    73.509                       65.433233
32  1989                    73.198                       65.247049
33  1988                    72.872                       65.034753
34  1987                    72.524                       64.830772
35  1986                    72.148                       64.579674
36  1985                    71.737                       64.279250
37  1984                    71.282                       64.021695
38  1983                    70.782                       63.757125
39  1982                    70.239                       63.508976
40  1981                    69.655                       63.182513
41  1980                    69.033                       62.841716
42  1979                    68.378                       62.555443
43  1978                    67.698                       62.193394
44  1977                    67.005                       61.832636
45  1976                    66.307                       61.408775
46  1975                    65.609                       60.985427
47  1974                    64.917                       60.540634
48  1973                    64.231                       60.047295
49  1972                    63.555                       59.596477
50  1971                    62.895                       59.110429
51  1970                    62.254                       58.579728
52  1969                    61.637                       57.991969
53  1968                    61.044                       57.386244
54  1967                    60.474                       56.783745
55  1966                    59.931                       56.078453
56  1965                    59.415                       55.346907
57  1964                    58.927                       54.687504
58  1963                    58.467                       54.017514
59  1962                    58.031                       53.492420
60  1961                    57.616                       53.075105
61  1960                    57.219                       52.581916

## Number 6 C

In [46]:
myquery = '''
SELECT 
   c.region, 
   SUM(t.co2_emissions) AS co2_emissions
FROM timeseries t
INNER JOIN country c
    ON t.country_code = c.country_code
WHERE year = '2019'
GROUP BY region
ORDER BY co2_emissions DESC
'''

pd.read_sql(myquery, con=engine)

                       region  co2_emissions
0       Europe & Central Asia     275.817873
1  Middle East & North Africa     175.104550
2         East Asia & Pacific      95.228469
3   Latin America & Caribbean      70.512349
4          Sub-Saharan Africa      43.942360
5               North America      30.104023
6                  South Asia      10.304685

## Number 6 D

In [47]:
myquery = '''
WITH past AS (SELECT 
    t.country_code, 
    t.democracy
FROM timeseries t
WHERE year = '1960')

SELECT 
    c.country_name_wb as country,
    past.democracy as past_democracy,
    pr.democracy as present_democracy,
    SUM(pr.democracy - past.democracy) AS difference
FROM past
JOIN (SELECT 
    t.country_code, 
    t.democracy
FROM timeseries t
WHERE year = '2021') pr
    ON past.country_code = pr.country_code
JOIN country c
    ON c.country_code=past.country_code
GROUP BY past.country_code, past.democracy, pr.democracy, c.country_name_wb
ORDER BY difference DESC
LIMIT 10
'''
pd.read_sql(myquery, con=engine)

                 country  past_democracy  present_democracy  difference
0                  Spain           0.070              0.856       0.786
1               Portugal           0.128              0.883       0.755
2             Cabo Verde           0.025              0.747       0.722
3                Vanuatu           0.080              0.777       0.697
4            Timor-Leste           0.017              0.680       0.663
5  SÃ£o TomÃ© and Principe           0.030              0.688       0.658
6                Romania           0.157              0.782       0.625
7         Czech Republic           0.194              0.805       0.611
8                 Malawi           0.041              0.618       0.577
9                Namibia           0.061              0.634       0.573

## Question 6 E

By count of countries, what is the most commonly used currency in the world?

In [48]:
myquery = '''
SELECT  
   c.currency_unit,
   COUNT(c.currency_unit) AS number_of_countries_used
FROM timeseries t
INNER JOIN country c
    ON t.country_code = c.country_code
GROUP BY c.currency_unit
ORDER BY number_of_countries_used DESC
LIMIT 1
'''

pd.read_sql(myquery, con=engine)

  currency_unit  number_of_countries_used
0          Euro                      1050

## Question 6 F
The GINI index measures the amount of economic inequality in a country. The higher the index, the greater the economic disparity between rich and poor. How does the average GINI index compare across income groups (see the country table) in 2019?

In [49]:
myquery = '''
SELECT
   c.income_group,
   AVG(t.gini_index) as avg_gini
FROM timeseries t
INNER JOIN country c
    ON t.country_code = c.country_code
GROUP BY c.income_group
ORDER BY avg_gini DESC
'''

pd.read_sql(myquery, con=engine)

          income_group   avg_gini
0                 None  48.007692
1  Upper middle income  42.841113
2           Low income  42.390741
3  Lower middle income  39.807532
4          High income  33.221555

## Extra Credit 
Extra credit: Some countries include the word 'Republic' or 'Democratic' in their official names. Other countries do not. Which of these two groups of countries had a higher average level of democratic quality in 2021? (It's OK if you use two queries to provide this answer.) [5 bonus points]

Answer: Based on these two queries, the countries with the word Republic had a higher average level of democratic quality in 2021.

In [50]:
myquery = '''
SELECT
   AVG(t.democracy) as average_democracy_score
FROM timeseries t
INNER JOIN country c
    ON t.country_code = c.country_code
WHERE c.country_name_wb LIKE '%%Rep%%' AND year = '2021'
'''
pd.read_sql(myquery, con=engine)

   average_democracy_score
0                 0.404077

In [51]:
myquery = '''
SELECT
   AVG(t.democracy) as average_democracy_score
FROM timeseries t
INNER JOIN country c
    ON t.country_code = c.country_code
WHERE c.country_name_wb LIKE '%%Dem%%' AND year = '2021'
'''
pd.read_sql(myquery, con=engine)

   average_democracy_score
0                   0.2215